<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/imagen/logo.png"  alt="kdrops logo ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item link">
            <a class="nav-link " href="/">Inicio <i class="fas fa-home"></i></a>
          </li>
          <li class="nav-item link dropdown">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
              <i class="fas fa-box-open"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown ">
              <a class="dropdown-item " href="/biotin/">kdrops biotin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/silver/">kdrops silver</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="/glutex/">kdrops glutex</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="/breast/">kdrops breast</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="/classic/">kdrops classic</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/muscle/">kdrops muscle</a>
            </div>
          </li>
          <li class="nav-item link">
            <a class="nav-link" href="/contacto/" >Contacto <i class="far fa-id-card"></i></a>
            
          </li>
          <li class="nav-item ">
            <a class="nav-link" ><i class="fas fa-phone mr-2"></i>(+573212858671)-(+573223734952)</a>
            
          </li>
        
        </ul>
      </div> 
      </div>
    </div>
</nav>