<section class="sec bio">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox mb-2">
            <h2>Kdrops Biotin</h2>
            <p>Esta formulado por una potente combinación de vitaminas teniendo como base principal la muy bien conocida "biotina “, siendo la encargada de que el cabello, uñas y piel luzcan radiantes y fuertes; por tal motivo su deficiencia en el cuerpo interfiere en el proceso adecuado de las mismas. elimina la caída del cabello, estimula su regeneración progresiva, crecimiento, hidratación y brillo. kdrops biotin es el mejor amigo de las estilistas, sus resultados son permanentes y garantizados.
                es una fórmula diseñada para aliviar la fragilidad de las uñas y estimular el crecimiento sano del cabello, mejora la apariencia de la piel (suavidad y elasticidad).
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>
                Detiene la caída del cabello. ayuda a fortalecer las uñas, mantiene la piel saludable ayudando a regenerarse, estimula el crecimiento del cabello. ayuda a eliminar el estrés.
                 <br>
                <strong>Ingredientes: </strong><br>
                
                    Biotin 300 mg.
                    vitamina a 400mg.
                    vitamina b1, b2, b6, b12 350mg.
                    vitamina a, c, d, e 250mg.
                    ácido folico 125mg.
                    ácido pantotenico 350mg.
                </p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            Indicaciones como debes tomar kdrops biotin:
aplicar 6 gotas del producto en medio litro de agua, tomar por la mañana media hora antes del desayuno y antes de transcurrir 2 horas tomar medio litro más de agua. luego en hora de la tarde, aplicar 6 gotas del producto en medio litro de agua y tomar media hora antes de cenar, posteriormente, antes de transcurrir 2 horas, tomar medio litro más de agua. <br>

            <strong> Nota:</strong>es 1 litro de agua que debe tomar por servicio ni más ni menos. tiene un periodo máximo de 2 horas para tomar el litro de agua.
            duración del tratamiento: 3 meses, cada frasco tiene una duración de 28 días aproximadamente. <br>
            <strong>Resultados:</strong> se sienten desde la primera toma y se ven a partir de la 2da semana. <br>
            <strong>Nota:</strong>recuerda en total serían 12 gotas en 2 litros de agua que debe tomar, si toma más agua el resto del día podría hacerlo no tendría problemas.
            solo podrías combinar 2 tratamientos al mismo tiempo, en el mismo litro de agua aplicarías las 6 gotas de cada presentación no tendrías ninguna contradicción, ya que, cada producto cumple su función.
            
            
            </p>
        </div>
        <div class="imgBox">
            <img class="img-fluid" data-aos="fade-left" data-aos-duration="2000" src="/img/probiotin.png" alt="kdrops biotin" class="biotin">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt=""><br>Classic</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-white" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>

</section>
