<section class="descripcion biotin">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4 mt-5">
                <img src="/imagen/FrascosBio.jpg" class="img-fluid rounded" class="imgproducto" alt="">
                
            </div>
            <div class="col-12 col-md-8 container ">
                <h1 class="display-3 text-center text-white my-3">KDROPS BIOTIN</h1>
                <hr>
                <p class="text-white text-justify">Kdrops pro BIOTIN Fue diseñado para el fortalecimiento y crecimiento de cabello y uñas; además de lucir una piel hidratada regenerando las células muertas. Esta formulado por una potente vitamina llamada "BIOTINA" siendo la encargada de que el cabello; uñas y piel luzcan radiantes y fuertes; por tal motivo su deficiencia en el cuerpo interfiere en el proceso adecuado de las mismas! 
                    <h3 class="text-center text-white">Componentes de kdrops Biotin</h3>
                    <ul class="text-white">
                        <li>biotin</li>
                        <li>vitamina 	b1</li>
                        <li>vitamina    b2</li>
                        <li>vitamina    b6</li>
                        <li>vitamina    b12</li>
                        <li>acido folico</li>
                        <li>acido pantotenico</li>
                        <li>hierro</li>
                        <li>vitamina A</li>
                        <li>vitamina C</li>
                        <li>vitamina D</li>
                        <li>vitamina E</li>
                    </ul>
                </p>
              
            </div>
            <div class="col">
                <h3 class="text center text-white">Modos de Uso de kdrops Biotin</h3>
                <p class="text-white">8 gotas del producto en medio litro de agua, tomar por la mañana antes del desayuno y 8 gotas del producto en medio litro de agua por la tarde antes de la cena. 
                </p>
                <p class="text-white lead"> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo de 2 horas para tomar el medio de aguar. </p>
                <p class="text-white">Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).</p>
                <p class="text-white">Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento. </p>
            </div>
        </div>
    </div>
</section>
