<section class="sec bio">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox mb-2">
            <h2>Kdrops Biotin</h2>
            <p>Kdrops pro BIOTIN Fue diseñado para el fortalecimiento y crecimiento de cabello y uñas; además de lucir
                una piel hidratada regenerando las células muertas. Esta formulado por una potente vitamina llamada
                "BIOTINA" siendo la encargada de que el cabello; uñas y piel luzcan radiantes y fuertes; por tal motivo
                su deficiencia en el cuerpo interfiere en el proceso adecuado de las mismas.!
            <h3>Componentes</h3>
            Biotin, Vitamina B1, Vitamina B2, Vitamina B6, Vitamina B12, Acido folico, Acido pantotenico, Hierro,
            Vitamina A B C D.
            </p>

            <p>
            <h3>Modo de Uso</h3><br>
            8 gotas del producto en medio litro de agua, tomar por la mañana antes del desayuno y 8 gotas del producto
            en medio litro de agua por la tarde antes de la cena. <br><br>

            <strong> NOTA: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas
                para tomar el medio de aguar.</strong> <br><br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img class="img-fluid" src="/img/probiotin.png" alt="kdrops biotin" class="biotin">
        </div>
    </div>
    <ul class="thumb">
        <li><img src="/img/probreat.png" onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')"
                alt="Breat"><a href="/breat/"><br>Breat</a></li>
        <li><img src="/img/proclasi.png" alt=""><a href="/clasic/"><br>Classic</a></li>
        <li><img src="/img/proglutex.png" alt=""><a href="/glutex/"><br>Glutex</a></li>
        <li><img src="/img/promusclet.png" alt=""><a href="/musclet/"><br>Musclet</a></li>
        <li><img src="/img/prosilver.png" alt=""><a class="text-dark" href="/silver/"><br>Silver</a></li>
    </ul>

</section>