<section class="descripcion biotin">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4 mt-5">
                <img src="/imagen/FrascosBres.jpg" class="img-fluid rounded" class="imgproducto" alt="">
                
            </div>
            <div class="col-12 col-md-8 ">
                <h1 class="display-3 text-center text-white my-3">KDROPS BREAST</h1>
                <hr>
                <p class="text-white text-justify">Kdrops Breast, es un reafirmador natural que actúa sobre los senos desencadenando un proceso de transporte del líquido que se encuentra fuera del tejido mamario, hacia adentro de la misma, mejorando la apariencia del seno.
                    <br><br>
                    Más y más mujeres recurren Kdrops Breast, es el único producto capaz de ofrecerles resultados efectivos, ya que es un tratamiento garantizado que produce la reafirmacion del busto de manera segura, no implica los riesgos o efectos colaterales de los procedimientos quirúrgicos.
                    
                    <br><br>
                    Kdrops Breast, es un producto natural que no posee efectos secundarios, no causa dependencia, es seguro de usar, Realza, Voluminiza y mejora la apariencia del busto.
                    
                    <br><br>
                    Kdrops Breast no es un producto abrasivo, no genera la produccion de estrogeno, y no interactua con ninguna hormona femenina.
                    
                </p>   
            </div>
            <div class="col">
                <h3 class=" text-white my-3">Componentes de kdrops Breast</h3>
                <ul class="text-white">
                    <li>Vitamina E</li>
                    <li>Succinato de d-alpha tocoferil	200mg</li>
                    <li>Trigonella foenum-graecum	70mg</li>
                    <li>Hinojo	500mg</li>
                    <li>Foeniculum vulgare (semillas)	450mg</li>
                    <li>Dong quai chinesis	200mg</li>
                    <li>Raices de Cardo santo	300mg</li>
                    <li>Cnicus benedictu (raices)	300mg</li>
                    <li>Taraxacum officinales (raíces)	100mg</li>
                    <li>Alga marina	50mg</li>
                    <li>Ascophylum nodosum (planta completa)	50mg</li>
                    <li> Berro (Nasturtium officinale) (hojas)	50mg</li>
                    <li> L-Tirosina	50mg</li>
                </ul>
                <h3 class="text center text-white my-3 d-lg-inline-block">Modos de Uso de kdrops Breast</h3>
                <p class="text-white">8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en medio litro de agua por la tarde después de la cena. 
                </p>
                <p class="text-white lead"> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo de 2 horas para tomar el litro de agua. </p>
                <p class="text-white">Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).</p>
                <p class="text-white">Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento. </p>
            </div>
        </div>
    </div>
</section>
