<section class="sec bre">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox mb-2">
            <h2>Kdrops Breast</h2>
            <p>Es un voluminizador natural que actúa sobre los senos desencadenando un proceso de transporte del líquido que se encuentra fuera del tejido mamario, hacia adentro de la misma, mejorando la apariencia del seno, muchas mujeres recurren a kdrops breast, es el único producto capaz de ofrecerles resultados efectivos, ya que es un tratamiento garantizado que produce el incremento del busto de manera segura, no implica los riesgos o efectos colaterales de los procedimientos quirúrgicos. 
                tratamiento completo 3 unidades kdrops $120.000 pesos envío incluido.
                envíos contra entrega a casi todo el país, consultar vía whatsapp, pagas al recibir tu pedido.
                aceptamos también estos medios de pago: depósitos, transferencia en linea.
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>
                kdrops breast, es un producto natural que no posee efectos secundarios, no causa dependencia, es seguro de usar, realza, voluminiza y mejora la apariencia del busto, kdrops breast, no es un producto abrasivo, no genera la producción de estrógeno, y no interactúa con ninguna hormona femenina, el producto actúa de manera eficaz y segura aumentando los estrógenos en la mujer (hormona femenina) la cual da paso a la creación de nuevo tejido mamario.
                 <br>
                <strong>Ingredientes: </strong><br>
                Vitamina e 7 diu.
                    fenogreco 500mg.
                    hinojo 450mg.
                    dong quai 300mg.
                    cardo santo 100mg.
                    diente de leon 100mg.
                    alga marina 50mg.
                    berro 50mg.
                    l-tirosina 200mg.
                </p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            Indicaciones como debes tomar kdrops breast:
aplicar 6 gotas del producto en medio litro de agua, tomar por la mañana media hora despues del desayuno y antes de transcurrir 2 horas tomar medio litro más de agua. luego en hora de la tarde, aplicar 6 gotas del producto en medio litro de agua y tomar media hora despues de cenar, posteriormente, antes de transcurrir 2 horas, tomar medio litro más de agua. <br>

            <strong> Nota:</strong>es 1 litro de agua que debe tomar por servicio ni más ni menos. tiene un periodo máximo de 2 horas para tomar el litro de agua.
            duración del tratamiento: 3 meses, cada frasco tiene una duración de 28 días aproximadamente. <br>
            <strong>Resultados:</strong> se sienten desde la primera toma y se ven a partir de la 2da semana. <br>
            <strong>Nota:</strong>recuerda en total serían 12 gotas en 2 litros de agua que debe tomar, si toma más agua el resto del día podría hacerlo no tendría problemas.
            solo podrías combinar 2 tratamientos al mismo tiempo, en el mismo litro de agua aplicarías las 6 gotas de cada presentación no tendrías ninguna contradicción, ya que, cada producto cumple su función.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/probreat.png" data-aos="fade-left" data-aos-duration="2000" alt="kdrops biotin" class="breat">
        </div>
    </div>
    <ul class="thumb">
        <li><img src="/img/probiotin.png" onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
            <a href="/biotin/"><br>Biotin</a>
        </li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt=""><br>Classic</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-white" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>