<section class="busqueda">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center titulo my-5"><%= nombrePagina %></h1>
                <% if (producto.length > 0 ) { %>
                <div class="col">
                    <% producto.forEach(codigo => { %>
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Buenas Noticias!</strong> el codigo del producto que ha sido ingresado es 100% original. <a href="#" class="alert-link">volver a pagina anterior</a>.
                    </div>
                    <% }) %>

                </div>
                <!--grid-->
                <% } else { %>
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Peligro!</h4>
                    <p class="mb-0">El producto que ha sido consultado no es original.
                         <a href="/" class="alert-link">Vuelva a consultar</a>.</p>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</section>