<section class="sec cla">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Classic</h2>
            <p> Más y más mujeres recurren Kdrops Breast, es el único producto capaz de
                ofrecerles resultados efectivos, ya que es un tratamiento garantizado que produce la reafirmacion del
                busto de manera segura, no implica los riesgos o efectos colaterales de los procedimientos quirúrgicos.
                Kdrops Breast, es un producto natural que no posee efectos secundarios, no causa dependencia, es seguro
                de usar, Realza, Voluminiza y mejora la apariencia del busto. Kdrops Breast no es un producto abrasivo,
                no genera la produccion de estrogeno, y no interactua con ninguna hormona femenina.
            </p>
            <h3 class="text-white mb-2 ">Componentes</h3>
            <p>Vitamina E, Succinato de d-alpha tocoferil 200mg, Trigonella foenum-graecum 70mg, Hinojo 500mg,
                Foeniculum vulgare (semillas) 450mg, Dong quai chinesis 200mg, Raices de Cardo santo 300mg, Cnicus
                benedictu (raices) 300mg, Taraxacum officinales (raíces) 100mg, Alga marina 50mg, Ascophylum nodosum
                (planta completa) 50mg, Berro (Nasturtium officinale) (hojas) 50mg, L-Tirosina 50mg.</p>

            <p>
            <h3>Modo de Uso</h3>
            8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en
            medio litro de agua por la tarde después de la cena. <br>

            <strong> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas para tomar el litro de agua.</strong> <br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/kepclasic.png" alt="Classic" class="clasic">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-dark" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>