<section class="sec cla">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Classic</h2>
            <p> Potente quemador de grasa localizada que actúa sobre la lipolisis celular,
                cortando la absorción de
                la grasa, permitiendo que el cuerpo no absorba grasas ni carbohidratos en excesos, aclarando las
                celulitis y a su vez tonificando su cuerpo. kdrops Classic actúa desde la primera toma con una vida
                de acción en el cuerpo de 12 Horas, ¡Usted Estará quemando grasa y tonificando durante las 24
                Horas!, Es el único producto natural quemador de grasa que logra esta hazaña sin mencionar que no
                produce efectos secundarios ni el odiado efecto rebote, viene re-formulado con mas de 9 ingredientes
                naturales Claves para la eliminación de la grasa casi de manera mágica, al ser en gotas su absorción
                es del 100%, en comparación con las antiguas pastillas cuyo aditivo químico permite que solo el 40%
                del producto sea absorbido y lo demás desechado.
            </p>
            <h3 class="text-white mb-2 ">Componentes</h3>
            <p>Vitamina E, Succinato de d-alpha tocoferil 200mg, Trigonella foenum-graecum 70mg, Hinojo 500mg,
                Foeniculum vulgare (semillas) 450mg, Dong quai chinesis 200mg, Raices de Cardo santo 300mg, Cnicus
                benedictu (raices) 300mg, Taraxacum officinales (raíces) 100mg, Alga marina 50mg, Ascophylum nodosum
                (planta completa) 50mg, Berro (Nasturtium officinale) (hojas) 50mg, L-Tirosina 50mg.</p>

            <p>
            <h3>Modo de Uso</h3>
            6 Gotas antes del desayuno y 6 gotas antes de la cena <br>

            <strong> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas para tomar el litro de agua.</strong> <br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/kepclasic.png" alt="Classic" class="clasic">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-dark" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>