<section class="sec cla">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Classic</h2>
            <p> POTENTE QUEMADOR DE GRASA QUE ACTÚA SOBRE LA LIPOLISIS CELULAR, CORTANDO LA ABSORCIÓN DE LA GRASA, PERMITIENDO QUE EL CUERPO NO ABSORBA GRASAS NI CARBOHIDRATOS EN EXCESOS, KDROPS CLASSIC ACTÚA DESDE LA PRIMERA TOMA CON UNA VIDA DE ACCIÓN EN EL CUERPO DE 12 HORAS, ¡USTED ESTARÁ QUEMANDO GRASA DURANTE LAS 24 HORAS!, ES EL ÚNICO PRODUCTO NATURAL QUEMADOR DE GRASA QUE LOGRA ESTA HAZAÑA SIN MENCIONAR QUE NO PRODUCE EFECTOS SECUNDARIOS NI EL ODIADO EFECTO REBOTE.
                TRATAMIENTO COMPLETO 3 UNIDADES KDROPS $120.000 PESOS ENVÍO INCLUIDO.
                ENVÍOS CONTRA ENTREGA A CASI TODO EL PAÍS, CONSULTAR VÍA WHATSAPP, PAGAS AL RECIBIR TU PEDIDO.
                ACEPTAMOS TAMBIÉN ESTOS MEDIOS DE PAGO: DEPÓSITOS, TRANSFERENCIA EN LÍNE.
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>VIENE RE-FORMULADO CON MÁS DE 9 INGREDIENTES NATURALES CLAVES PARA LA ELIMINACIÓN DE LA GRASA CASI DE MANERA MÁGICA, AL SER EN GOTAS SU ABSORCIÓN ES DEL 100%, EN COMPARACIÓN CON LAS ANTIGUAS PASTILLAS CUYO ADITIVO QUÍMICO PERMITE QUE SOLO EL 40% DEL PRODUCTO SEA ABSORBIDO Y LO DEMÁS DESECHADO, LA VERDAD ES EL ÚNICO PRODUCTO NATURAL QUEMADOR DE GRASA QUE LOGRA REDUCIR DE 8 A 15KG EN TIEMPO RECORD SIN DIETAS, SIN EJERCICIOS.</p>
            <h3 class="text-white mb-2 ">Ingrdientes</h3>
            <p>
                TÉ ROJO PU ERH 300MG.
                ALCACHOFA 400MG.
                CENTELLA ASIATICA 350MG.
                MULBERRY LEAF 100MG.
                FLOR DE JAMAICA 125MG.
                GINKO BILOBA 5MG.
                SEMILLA DE CASSIA 50MG.
                SEMILLA DE JOB’S TEARS 50MG.
                BITTER ORANGE 80MG.
                </p>

            <p>
            <h3>INDICACIONES COMO DEBES TOMAR KDROPS CLASSIC</h3>
            APLICAR 6 GOTAS DEL PRODUCTO EN MEDIO LITRO DE AGUA, TOMAR POR LA MAÑANA MEDIA HORA ANTES DEL DESAYUNO Y ANTES DE TRANSCURRIR 2 HORAS TOMAR MEDIO LITRO MÁS DE AGUA. LUEGO EN HORA DE LA TARDE, APLICAR 6 GOTAS DEL PRODUCTO EN MEDIO LITRO DE AGUA Y TOMAR MEDIA HORA ANTES DE CENAR, POSTERIORMENTE, ANTES DE TRANSCURRIR 2 HORAS, TOMAR MEDIO LITRO MÁS DE AGUA.
NOTA: ES 1 LITRO DE AGUA QUE DEBE TOMAR POR SERVICIO NI MÁS NI MENOS. TIENE UN PERIODO MÁXIMO DE 2 HORAS PARA TOMAR EL LITRO DE AGUA.
 <br>

            <strong> DURACIÓN DEL TRATAMIENTO: 3 MESES, CADA FRASCO TIENE UNA DURACIÓN DE 28 DÍAS APROXIMADAMENTE.</strong> <br>
            <strong>RESULTADOS: SE SIENTEN DESDE LA PRIMERA TOMA Y SE VEN A PARTIR DE LA 2DA SEMANA.</strong> <br>
           
            <strong>Nota:</strong>RECUERDA EN TOTAL SERÍAN 12 GOTAS EN 2 LITROS DE AGUA QUE DEBE TOMAR, SI TOMA MÁS AGUA EL RESTO DEL DÍA PODRÍA HACERLO NO TENDRÍA PROBLEMAS.
            SOLO PODRÍAS COMBINAR 2 TRATAMIENTOS AL MISMO TIEMPO, EN EL MISMO LITRO DE AGUA APLICARÍAS LAS 6 GOTAS DE CADA PRESENTACIÓN NO TENDRÍAS NINGUNA CONTRADICCIÓN, YA QUE, CADA PRODUCTO CUMPLE SU FUNCIÓN.
            
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/kepclasic.png" alt="Classic" class="clasic">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-dark" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>