<section class="contacto">
    <div class="container">
        <h1 class="mt-4 text-center titulo"><i class="fas fa-envelope mr-3"></i>Contáctanos para mayor información</h1>
        <div class="form-row">
            <div class="col my-3">
                <form method="POST" action="/send-email">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1" class="mt-3"><i class="fas fa-user-friends mr-2"></i>Nombre</label>
                        <input type="text" name="name" class="form-control" id="nombre" placeholder="Nombre" required
                      </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlInput1"><i class="fas fa-paper-plane mr-2"></i>Email address</label>
                      <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1"><i class="fas fa-mobile-alt mr-2"></i>Telefono</label>
                        <input type="number" name="phone" class="form-control" id="telefono" placeholder="Numero" required>
                      </div>
        
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1"><i class="fas fa-edit mr-2"></i>Mensaje</label>
                      <textarea class="form-control" name="message" id="mensaje" required rows="3"></textarea>
                    </div>
                    <button class="btn-sm btn-primary btn-block col-md-3">Enviar</button>
                  </form>
            </div>
        </div>
    </div>
</section>

