<section class="sec glu">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox mb-3">
            <h2>Kdrops Glutex</h2>
            <p> Actúa como un beta receptor externo de proteínas para músculos densos, el musculo Gluteal es el mas
                denso del cuerpo por lo tanto este actúa en el de manera eficaz absorbiendo la proteína, incrementa
                rápidamente el tamaño de tus glúteos y piernas. Es una alternativa segura a la cirugía e inyección de
                peligrosos polímeros o esteroides y no contiene efectos secundarios que afecten su salud al ser un
                producto natural.
            </p>
            <h3 class="text-white mb-2 ">Componentes</h3>
            <p>L-Ornitina, L-Arginina, L-tirosina, Factor Absorción, Factor Crecimiento, L-Glutamina, L-Mitiotina,
                Esential Amino Acido, Voluminisizer G2</p>
            <p>
            <h3>Modo de Uso</h3>
            8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en
            medio litro de agua por la tarde después de la cena. <br>

            <strong> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas para tomar el litro de agua.</strong> <br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/proglutex.png" alt="kdrops glutex" class="glutex">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breat</a></li>
        <li><a href="/clasic/"><img src="/img/proclasi.png" alt=""><br>Classic</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Musclet</a></li>
        <li><a class="text-dark" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>