<section class="descripcion biotin">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4 mt-5">
                <img src="/imagen/glutex.png" class="img-fluid rounded" class="imgproducto" alt="">
                
            </div>
            <div class="col-12 col-md-8 ">
                <h1 class="display-3 text-center text-white my-3">KDROPS GLUTEX</h1>
                <hr>
                <p class="text-white text-justify">Actúa como un beta receptor externo de proteínas para músculos densos, el musculo Gluteal es el mas denso del cuerpo por lo tanto este actúa en el de manera eficaz absorbiendo la proteína, incrementa rápidamente el tamaño de tus glúteos y piernas.

                    <br><br>
                    Es una alternativa segura a la cirugía e inyección de peligrosos polímeros o esteroides y no contiene efectos secundarios que afecten su salud al ser un producto natural.
                    
                </p>   
            </div>
            <div class="col">
                <h3 class=" text-white my-3">Componentes de kdrops Glutex</h3>
                <ul class="text-white">
                    <li>
                        L-Ornitina</li>
                    <li>L-Arginina</li>
                    <li>L-Tirosina</li>
                    <li>Factor Absorción G2</li>
                    <li>Factor Crecimiento G2</li>
                    <li>L-Glutamina</li>
                    <li>L-Mitiotina</li>
                    <li>Essential Amino Acids</li>
                    <li>Voluminisizer G2</li>
                </ul>
                <h3 class="text center text-white my-3 d-lg-inline-block">Modos de Uso de kdrops Glutex</h3>
                <p class="text-white">8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en medio litro de agua por la tarde después de la cena. 
                </p>
                <p class="text-white lead"> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo de 2 horas para tomar el litro de agua. </p>
                <p class="text-white">Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).</p>
                <p class="text-white">Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento. </p>
            </div>
        </div>
    </div>
</section>