<section class="sec glu">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox mb-3">
            <h2>Kdrops Glutex</h2>
            <p>El suplemento numero 1 para aumento de glúteos en el mundo actúa como un beta receptor externo de proteínas para músculos densos, donde transporta todas las proteínas y grasas necesarias para lograr el tamaño deseado, garantizando aumentar entre 2 y 4 centímetros  por tratamiento completo. el musculo gluteal es el más denso del cuerpo por lo tanto este actúa en el de manera eficaz absorbiendo la proteína. incrementa y tonifica rápidamente el tamaño de tus glúteos y piernas.  estudios en la universidad de yale – ee.uu. demuestra que bajas proporciones de musculo gluteal es por causa de un déficit de proteínas en el musculo, agregando kdrops glutex cubrimos las necesidades diarias de proteínas en el glúteo ¡requiere de ejercicios, para estimular el area gluteal!
                tratamiento completo 3 unidades kdrops $120.000 pesos envío incluido.
                envíos contra entrega a casi todo el país, consultar vía whatsapp, pagas al recibir tu pedido.
                aceptamos también estos medios de pago: depósitos, transferencia en linea.
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>
                Incrementa rápidamente el tamaño de tus glúteos semana tras semana es una alternativa segura a la cirugía e inyección de peligrosos polímeros ingredientes 100% naturales y seguros no tiene efectos secundarios no engorda resultados efectivos y 100% permanentes funciona en hombres y mujeres.
                 <br>
                <strong>Ingredientes: </strong><br>
                l-ornitina 300mg.
                l-argenita 400mg.
                l-tirosina 350mg.
                factor absorción g2 250mg.
                factor de crecimiento g2 125mg.
                l-glutamina 350mg.
                l-metionina 50mg.
                essential amino acids 45mg.
                voluminiziser g2 80mg.
                </p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            Indicaciones como debes tomar kdrops glutex:
            aplicar 6 gotas del producto en medio litro de agua, tomar por la mañana media hora despues del desayuno y antes de transcurrir 2 horas tomar medio litro más de agua. luego en hora de la tarde, aplicar 6 gotas del producto en medio litro de agua y tomar media hora despues de cenar, posteriormente, antes de transcurrir 2 horas, tomar medio litro más de agua. <br>

            <strong> Nota:</strong>es 1 litro de agua que debe tomar por servicio ni más ni menos. tiene un periodo máximo de 2 horas para tomar el litro de agua.
            duración del tratamiento: 3 meses, cada frasco tiene una duración de 28 días aproximadamente. <br>
            <strong>Resultados:</strong> se sienten desde la primera toma y se ven a partir de la 2da semana. <br>
            <strong>Nota:</strong>recuerda en total serían 12 gotas en 2 litros de agua que debe tomar, si toma más agua el resto del día podría hacerlo no tendría problemas.
            solo podrías combinar 2 tratamientos al mismo tiempo, en el mismo litro de agua aplicarías las 6 gotas de cada presentación no tendrías ninguna contradicción, ya que, cada producto cumple su función.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/proglutex.png" data-aos="fade-left" data-aos-duration="2000" alt="kdrops glutex" class="glutex">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt=""><br>Classic</a></li>
        <li><a href="/musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>
        <li><a class="text-white" href="/silver/"><img src="/img/prosilver.png" alt=""><br>Silver</a></li>
    </ul>
</section>