<section class="grid">
    <div class="grid_text">
        <h2 class="grid_title">Los mejores </h2>
        <h2 class="grid_title grid_title--trasform"> Precios y Promociones</h2>
    </div>
</section>

<!---->

<section class="slider">

    <div class="swiper-container mySwiper">
        <h2 class="text-center my-1">Promociones</h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/chile.svg" /></a>
            </div>
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/colombia.svg" /></a>
            </div>
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/espana.svg" /></a>
            </div>
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/peru.svg" /></a>
            </div>
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/mexico.svg" /></a>
            </div>
            <div class="swiper-slide">
                <a href="/promociones/" class="cta"><img src="/img/estados-unidos.svg" /></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!--<div class="segabajo"></div>-->
<main>
    <section class="codigo">
        <h2>Consulta si su producto es original</h2>
        <form class="form-inline formulario  mb-5">
            <div class="form-group">
                <input class="form-control-lg" type="number" name="codigo" id="codigo" placeholder="Buscar Codigo"
                    required>
            </div>
            <button class="btn btn-primary ml-2 mt-3" id="btnbuscar">Buscar</button>
        </form>
    </section>
    <div class="wave">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.99 C211.28,149.30 349.20,-49.99 503.61,88.11 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </div>
</main>
<div class="product">

    <div class="card">
        <div class="img1">
            <img src="/img/Biotin2.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Biotin</h2>
            <p>Diseñado para el fortalecimiento y crecimiento de cabello y uñas.</p>
            <a class="boton" href="/biotin/">ver màs</a>
        </div>
    </div>

    <div class="card">
        <div class="img1">
            <img src="/img/Glutex1.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Glutex</h2>
            <p>Actúa como un beta receptor externo de proteínas para músculos densos.</p>
            <a class="boton" href="/glutex/">ver màs</a>
        </div>
    </div>

    <div class="card">
        <div class="img1">
            <img src="/img/silver2.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Silver</h2>
            <p>Quemador de grasa ideado para personas con unas actividad física extrema.</p>
            <a class="boton" href="/siver/">ver màs</a>
        </div>
    </div>

    <div class="card">
        <div class="img1">
            <img src="/img/classic2.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Classic</h2>
            <p>Potente quemador de grasa localizada que actúa sobre la lipolisis celular.</p>
            <a class="boton" href="/clasic/">ver màs</a>
        </div>
    </div>

    <div class="card">
        <div class="img1">
            <img src="/img/breast2.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Breast</h2>
            <p>Reafirmador natural que actúa sobre los senos haciendo un proceso de
                trasporte</p>
            <a class="boton" href="/breat/">ver màs</a>
        </div>
    </div>

    <div class="card">
        <div class="img1">
            <img src="/img/muscle2.jpg" alt="">
        </div>
        <div class="contenido">
            <h2 class="pt-3">Muscle</h2>
            <p>Aumenta la fuerza un 10,5% al tomarlo y la resistencia a la fatiga en un
                28%.</p>
            <a class="boton" href="/musclet/">ver màs</a>
        </div>
    </div>
</div>

<section class="paralax">
    <div class="row">
        <div class="col">
            <h2>Alguna duda?</h2>
            <h3>habla con nosotros</h3>
            <a class="botonParalax" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Contactanos</a>
        </div>
    </div>

</section>

<section class="testimonios pb-3">
    <div class="container">
        <h2 class="text-center py-4">Testimonios</h2>
        <div class="row">
            <div class="col">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/5.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/6.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/7.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<section class="preguntas">
    <div class="container">
        <div class="row align-items-center">
            <h2 class="text-center my-3">Preguntas Frecuentes</h2>
            <div class="col-lg-6 mb-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Dónde están ubicados, son tienda fisica?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Somos tienda virtual y hacemos envíos a nivel nacional
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Contra entrega disponible?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Solo en Bogota, pagaria al recibir su pedido consultar via WhatsApp.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Como se toma?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Agitar bien el frasco cada vez que se vaya a usar, ya que es un producto concentrado.

                                1era dosis. Colocar 6 gotas de KDROPS CLASSIC en 1 litro de agua, tomar por la mañana
                                antes del desayuno.

                                2da dosis. Colocar 6 gotas de KDROPS CLASSIC en 1 litro de agua, tomar por la tarde
                                antes de la cena.

                                NOTA: RECUERDE EN TOTAL SERIAN 12 GOTAS DE KDROPS EN 2 LITROS DE AGUA QUE DEBEN TOMAR AL
                                DIA, SI TOMA MAS AGUA EL RESTO DEL DIA PODRIA HACERLO NO TENDRIA NINGUN PROBLMA.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingFort">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFort" aria-expanded="false" aria-controls="collapseFort">
                                ¿Los productos KDROPS tienen esteroides?
                            </button>
                        </h2>
                        <div id="collapseFort" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                No, son productos completamente naturales.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                ¿Puedo combinar los tratamientos?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si puede combinarlos, solo se puede combinar dos tratamientos de cualquier tipo, solo
                                dos ya que un tercero entorpecería el tratamiento.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingSixe">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSixe" aria-expanded="false" aria-controls="collapseSixe">
                                ¿Tienen gàrantia de envío?
                            </button>
                        </h2>
                        <div id="collapseSixe" class="accordion-collapse collapse" aria-labelledby="headingSixe"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si, si tu producto no llega o llega partido lo reponemos con uno nuevo. De lo contrario
                                se realizará un reembolso.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                ¿Debo pagar el envío?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para pedidos internacionales el precio incluye el envío.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingHein">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseHein" aria-expanded="false" aria-controls="collapseHein">
                                ¿Por que debo usar el KDROPS silver?
                            </button>
                        </h2>
                        <div id="collapseHein" class="accordion-collapse collapse" aria-labelledby="headingHein"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si hace ejercicio y necesita ayuda adicional para quemar grasa debe usar kdrops silver.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                ¿Cuantos kilos pierdo con KDROPS classic y en cúanto tiempo puedo ver los resultados?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Por lo general son de 8 a 12kg por mes dependiendo de la genética del usuario, los
                                resultados se ven a partir del mes y medio.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseTen">
                                ¿Puedo usar KDROPS glutex si estoy operada?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si lo puedes utilizar de hecho médicos recomiendan usarlo para mantener los glúteos
                                levantados y firmes incluso funciona muy bien en hombres también.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentione">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentione" aria-expanded="false"
                                aria-controls="collapseTentione">
                                ¿Cuánto puedo aumentar con KDROPS glutex y en cuánto tiempo veo resultados?
                            </button>
                        </h2>
                        <div id="collapseTentione" class="accordion-collapse collapse" aria-labelledby="headingTentione"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Por lo general son de 2 a 3 Centimetros por mes dependiendo de la genética del usuario,
                                los resultados se ven a partir del mes y medio.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentitwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentitwo" aria-expanded="false"
                                aria-controls="collapseTentitwo">
                                ¿Cuánto puedo aumentar con KDROPS breast y en cuánto tiempo veo resultados?
                            </button>
                        </h2>
                        <div id="collapseTentitwo" class="accordion-collapse collapse" aria-labelledby="headingTentitwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Por lo general de 2 a 3 Centimetros por mes dependiendo de la genética del usuario, los
                                resultados se ven a partir del mes y medio.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentitree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentitree" aria-expanded="false"
                                aria-controls="collapseTentitree">
                                ¿Puedo usar KDROPS breast si estoy operada?
                            </button>
                        </h2>
                        <div id="collapseTentitree" class="accordion-collapse collapse"
                            aria-labelledby="headingTentitree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si lo puedes utilizar de hecho médicos recomiendan usarlo para mantener los senos
                                firmes como la primera vez.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentifor">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentifor" aria-expanded="false"
                                aria-controls="collapseTentifor">
                                ¿Cúanto dura un frasco de KDROPS?
                            </button>
                        </h2>
                        <div id="collapseTentifor" class="accordion-collapse collapse" aria-labelledby="headingTentifor"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                22 a 30 Dias

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentifive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentifive" aria-expanded="false"
                                aria-controls="collapseTentifive">
                                ¿Cúanto dura los tratamientos de KDROPS?
                            </button>
                        </h2>
                        <div id="collapseTentifive" class="accordion-collapse collapse"
                            aria-labelledby="headingTentifive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Fueron formulados para 3 meses pero se puede tomar hasta por 9 meses seguidos (3
                                tratamientos).

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentisex">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentisex" aria-expanded="false"
                                aria-controls="collapseTentisex">
                                ¿Si deseo ser revendedor que debo hacer?
                            </button>
                        </h2>
                        <div id="collapseTentisex" class="accordion-collapse collapse" aria-labelledby="headingTentisex"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Notifícalo por Whatsapp y con gusto te atenderá uno de nuestros agente de ventas.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-dark text-white">
                        <h2 class="accordion-header" id="headingTentisexi">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTentisexi" aria-expanded="false"
                                aria-controls="collapseTentisexi">
                                ¿Personas que sufren de tiroides y hipertiroidismo puede tomarlo?
                            </button>
                        </h2>
                        <div id="collapseTentisexi" class="accordion-collapse collapse"
                            aria-labelledby="headingTentisexi" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Si pueden tomarlo, ya que no interactúa con ninguna hormona del cuerpo ni con
                                medicamentos como Euthyrox.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-md-6 col-lg-6  manos">
                <img class="img-responsive" src="/img/manos.png" alt="">
            </div>

        </div>
    </div>
</section>