<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kdrops oficial</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/imagen/favicon-32x32.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-226967217-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-226967217-1');
    </script>
</head>

<body>

    <header>
        <!--<nav>
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt=""></a>
            </div>
            <div class="icono" id="icono">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="/" class="active">Inicio</a>
                <a href="/nosotros/">Nosotros</a>
                <a href="/productos/">Productos</a>
                <a href="/preguntas/">Preguntas</a>
            </div>
        </nav>-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/"><img src="/img/logo3.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nosotros/">Nosotros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/productos/">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/preguntas/">Preguntas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>


    <a href="#" class="btn-whap" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fab fa-whatsapp"></i></a>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuestra linea de contactos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Asesores Autorizados</h4>
                    <a href="https://api.whatsapp.com/send?phone=573212858671&text=Bienvenido%20a%20la%20familia%20Kdrops;%20indique%20¿como%20podemos%20ayudarle?"
                        target="_blank">Alejandra
                        Barraza <i class="fab fa-whatsapp-square"></i></a>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=573228404022&text=Bienvenido%20a%20la%20familia%20Kdrops;%20indique%20¿como%20podemos%20ayudarle?"
                        target="_blank">Jairo
                        Parra <i class="fab fa-whatsapp-square"></i></a>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=573243504843&text=Bienvenido%20a%20la%20familia%20Kdrops;%20indique%20¿como%20podemos%20ayudarle?"
                        target="_blank">Katherine
                        Maldonado <i class="fab fa-whatsapp-square"></i></a>
                    <br>
<<<<<<< HEAD
                    <a href="https://api.whatsapp.com/send?phone=573247125076&text=Bienvenido%20a%20la%20familia%20Kdrops;%20indique%20¿como%20podemos%20ayudarle?"
=======
                    <a href="https://api.whatsapp.com/send?phone=573114991283&text=Bienvenido%20a%20la%20familia%20Kdrops;%20indique%20¿como%20podemos%20ayudarle?"
>>>>>>> parent of 176dbd8 (cambios)
                        target="_blank">Alessandra
                        Useche <i class="fab fa-whatsapp-square"></i></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <%- body %>


        <footer class=" text-white footer">
            <!--<div class="container">
                <div class="row justify-content-between">
                    <div class=" col col-md-6">
                        <h4 class="text-center mt-2 ">Promotores de ventas</h4>
                        <ul class="list-unstyled text-center">
                            <li>Alixander</li>
                            <li>Alejandra</li>
                        </ul>

                    </div>
                    <div class="col col-md-6">
                        <h4 class="text-center mt-2">Siguenos en nuestras redes</h4>
                    </div>
                </div>
            </div>-->
            <div class="col d-flex justify-content-md-center py-2">
                <i class="fa fa-copyright " aria-hidden="true">
                    <p class="d-inline">KDROPS-2020 Todos los derechos reservados</p>
                </i>
            </div>
        </footer>


        <script src="/js/main.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script>
            var swiper = new Swiper(".mySwiper", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 200,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: ".swiper-pagination",
                },
                loop: true,
            });
        </script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>
</body>

</html>