<section class="sec mus">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Muscle</h2>
            <p>Es un suplemento pre entrenamiento bajo una novedosa fórmula patentada.
                después de 8 años de rigurosa investigación, y estudios clínicos por parte de investigadores de la universidad de florida (ee.uu.) en conjunto con los investigadores del kdrops international lab, han creado a kdrops muscle un suplemento para culturistas y amantes del fitness.
                ¡una nueva era en la mejora del rendimiento y ganancia muscular pura ha llegado! no es parecido a la creatina, no es un estimulante, y no es en definitiva como ningún otro suplemento genérico. kdrops muscle es un suplemento preentrenamiento bajo una novedosa formula patentada ¡totalmente distinto a todo lo que hayas visto y probado antes! se recomienda como mínimo tratamientos completos (3 kdrops) y acompañar con ejercicios progresivos.
                tratamiento completo 3 unidades kdrops $120.000 pesos envío incluido.
                envíos contra entrega a casi todo el país, consultar vía whatsapp, pagas al recibir tu pedido.
                aceptamos también estos medios de pago: depósitos, transferencia en linea.
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>
                Aumenta la fuerza un 10,5% tras tomarlo, aumenta la resistencia a la fatiga en un 28%, aumenta masa muscular de calidad en un 59%, no es parecido a la creatina, no es un estimulante y no es en definitiva como ningún otro suplemento genérico pre entrenamiento.
                 <br>
                <strong>Ingredientes: </strong><br>
                Dextrosa 300mg.
                maltodextrinas 400mg.
                ácido cítrico 350mg.
                citrato sódico 25mg.
                gluconato de sodio 125mg.
                polivinilprolidona 350mg.
                goma acacia 50mg.
                dióxido de silicio 45mg.
                acesulfama de potasio 80mg.
                sucralosa 145mg. Colocar
                </p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            Indicaciones como debes tomar kdrops muscle:
aplicar 6 gotas del producto en medio litro de agua, tomar por la mañana media hora despues del desayuno y antes de transcurrir 2 horas tomar medio litro más de agua. luego en hora de la tarde, aplicar 6 gotas del producto en medio litro de agua y tomar media hora despues de cenar, posteriormente, antes de transcurrir 2 horas, tomar medio litro más de agua. <br>

            <strong> Nota:</strong>es 1 litro de agua que debe tomar por servicio ni más ni menos. tiene un periodo máximo de 2 horas para tomar el litro de agua.
            duración del tratamiento: 3 meses, cada frasco tiene una duración de 28 días aproximadamente. <br>
            <strong>Resultados:</strong> se sienten desde la primera toma y se ven a partir de la 2da semana. <br>
            <strong>Nota:</strong>recuerda en total serían 12 gotas en 2 litros de agua que debe tomar, si toma más agua el resto del día podría hacerlo no tendría problemas.
            solo podrías combinar 2 tratamientos al mismo tiempo, en el mismo litro de agua aplicarías las 6 gotas de cada presentación no tendrías ninguna contradicción, ya que, cada producto cumple su función.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/promusclet.png" data-aos="fade-left" data-aos-duration="2000" alt="kdrops Musclet" class="musclet">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="Biotin">
                <br>Biotin</a>
        </li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt="Classic"><br>Classic</a></li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breast"><br>Breast</a></li>
        <li><a class="text-white" href="/glutex/"><img src="/img/proglutex.png" alt="Glutex"><br>Glutex</a></li>
        <li><a class="text-white" href="/silver/"><img src="/img/prosilver.png" alt="Silver"><br>Silver</a></li>
    </ul>
</section>