<section class="sec mus">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Muscle</h2>
            <p>¡Aumenta la fuerza un 10,5% tras tomarlo! ¡Aumenta la resistencia a la fatiga en un 28%! Aumenta masa
                muscular de calidad en un 59%. Envase diseñado para 1 mes de entrenamiento ¡Una Nueva Era en la mejora
                del rendimiento y Ganancias puras ha llegado. No es parecido a la creatina, no es un estimulante, y no
                es en definitiva como ningún otro suplemento genérico preentrenamiento.Kdrops Muscular es un suplemento
                preentrenamiento bajo una novedosa formula patentada ¡¡Totalmente distinto a todo lo que hayas visto y
                probado antes!!.</p>
            <h3 class="text-white mb-2 ">Componentes</h3>
            <p>Dextrosa, Maltodextrina, Ácido citrico, Citrato Sódico, Gluconato de sodio, Polivinilprolidona, Sabores
                naturales y artificiales (almidón, alimetario modificado, sirope sólido de maíz, goma acacia, dióxido de
                silicio) acesulfama de potasio suclarosa.</p>

            <p>
            <h3>Modo de Uso</h3>
            6 Gotas despues del desayuno, 6 gotas despues de la cena. <br>

            <strong> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas para tomar el litro de agua.</strong> <br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/promusclet.png" alt="kdrops Musclet" class="musclet">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="Biotin">
                <br>Biotin</a>
        </li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt="Classic"><br>Classic</a></li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breast"><br>Breast</a></li>
        <li><a class="text-dark" href="/glutex/"><img src="/img/proglutex.png" alt="Glutex"><br>Glutex</a></li>
        <li><a class="text-dark" href="/silver/"><img src="/img/prosilver.png" alt="Silver"><br>Silver</a></li>
    </ul>
</section>