<section class="descripcion biotin">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4 mt-5">
                <img src="/imagen/muscle.png" class="img-fluid rounded" class="imgproducto" alt="">
                
            </div>
            <div class="col-12 col-md-8 ">
                <h1 class="display-3 text-center text-white my-3">KDROPS MUSCLE</h1>
                <hr>
                <p class="text-white text-justify">¡Aumenta la fuerza un 10,5% tras tomarlo! ¡Aumenta la resistencia a la fatiga en un 28%! Aumenta masa muscular de calidad en un 59%.

                    <br><br>
                    Envase diseñado para 1 mes de entrenamiento ¡Una Nueva Era en la mejora del rendimiento y Ganancias puras ha llegado!.
                    
                    <br><br>
                    No es parecido a la creatina, no es un estimulante, y no es en definitiva como ningún otro suplemento genérico preentrenamiento.
                    
                    <br><br>
                    Kdrops Muscular es un suplemento preentrenamiento bajo una novedosa formula patentada ¡¡Totalmente distinto a todo lo que hayas visto y probado antes!!.
                    
                </p>   
            </div>
            <div class="col">
                <h3 class=" text-white my-3">Componentes de kdrops Muscle</h3>
                <ul class="text-white">
                    <li>
                        
Dextrosa</li>
                    <li>maltodextrinas</li>
                    <li>ácido cítrico</li>
                    <li>citrato sódico</li>
                    <li>gluconato de sodio</li>
                    <li>polivinilprolidona</li>
                    <p class="text-justify text-white">sabores naturales y artificiales (almidón alimentario modificado, sirope sólido de maíz, goma acacia, dióxido de silicio)
                        acesulfama de de potasio
                        sucralosa</p>
                </ul>
                <h3 class="text center text-white my-3 d-lg-inline-block">Modos de Uso de kdrops Muscle</h3>
                <p class="text-white">8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en medio litro de agua por la tarde después de la cena. 
                </p>
                <p class="text-white lead"> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo de 2 horas para tomar el litro de agua. </p>
                <p class="text-white">Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).</p>
                <p class="text-white">Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento. </p>
            </div>
        </div>
    </div>
</section>