<section class="nosotros">
    <div class="container">
        <div class="row align-items-center">
            <h1 class="text-center my-4">Nosotros</h1>
            <div class="col-md-6 ">
                <p>Somos una empresa dedicada a la distribucion de suplementos naturales para el mejoramiento fisico.
                </p>

            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="/img/Data Arranging_Monochromatic.png" alt="">
            </div>
            <h1 class="text-center my-4">Misión</h1>
            <div class="row align-items-center ">
                <div class="col-md-6"><img class="img-fluid" src="/img/Team building _Monochromatic.png" alt=""></div>

                <div class="col-md-6">
                    <p>Ofrecemos a nuestros clientes productos naturales eficaces, de optima calidad, legalizados para
                        contribuir a la salud y binestar a los consumidores.<br>Con el apoyo de un equipo profesional
                        humano, excelente tecnologia y brindar la mejor atencion personalizada</p>
                </div>

            </div>
            <h1 class="text-center my-4">Visión</h1>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="display-8">Consolidarnos como la mejor empresa de productos y suplementos naturales,
                        nacional e
                        internacionalmente. Ser reconocidos por la calidad de nuestros productos, atención
                        personalizada, satisfacción de nuestros clientes y en especial por la contribución a la salud
                        física y mental de estos.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="/img/Team building _Two Color.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>