<section class="producto2">
    <div class="container">
        <div class="row  align-items-center">
            <h2 class="text-center my-4 text-white">Catalogo de productos</h2>
            <div class="col-md-6 proseccion">
                <img src="/img/FrascosBio.jpg" alt="biotin">
            </div>
            <div class="col-md-6">
                <p class="text-white">Kdrops BIOTIN fue diseñado para el fortalecimiento y crecimiento de cabello y
                    uñas; además de
                    lucir una piel hidratada regenerando las células muertas. Esta formulado por una potente vitamina
                    llamada "BIOTINA" siendo la encargada de que el cabello; uñas y piel luzcan radiantes y fuertes; por
                    tal motivo su deficiencia en el cuerpo interfiere en el proceso adecuado de las mismas! .</p>
                <a class="boton" href="/biotin/">Leer màs</a>
            </div>
            <div class="col-md-6 proseccion my-4">
                <img src="/img/FrascoC.jpg" alt="biotin">
            </div>
            <div class="col-md-6">
                <p class="text-white">Potente quemador de grasa localizada que actúa sobre la lipolisis celular,
                    cortando la absorción de
                    la grasa, permitiendo que el cuerpo no absorba grasas ni carbohidratos en excesos, aclarando las
                    celulitis y a su vez tonificando su cuerpo. kdrops Classic actúa desde la primera toma con una vida
                    de acción en el cuerpo de 12 Horas, ¡Usted Estará quemando grasa y tonificando durante las 24
                    Horas!, Es el único producto natural quemador de grasa que logra esta hazaña sin mencionar que no
                    produce efectos secundarios ni el odiado efecto rebote, viene re-formulado con mas de 9 ingredientes
                    naturales Claves para la eliminación de la grasa casi de manera mágica, al ser en gotas su absorción
                    es del 100%, en comparación con las antiguas pastillas cuyo aditivo químico permite que solo el 40%
                    del producto sea absorbido y lo demás desechado.</p>
                <a class="boton" href="/clasic/">Leer màs</a>
            </div>

            <div class="col-md-6  proseccion">
                <img src="/img/FrascosBres.jpg" alt="biotin">
            </div>
            <div class="col-md-6  ">
                <p class="text-white mt-4">Kdrops Breast, es un reafirmador natural que actúa sobre los senos
                    desencadenando
                    un proceso de
                    transporte del líquido que se encuentra fuera del tejido mamario, hacia adentro de la misma,
                    mejorando la apariencia del seno.
                    Más y más mujeres recurren Kdrops Breast, es el único producto capaz de ofrecerles resultados
                    efectivos, ya que es un tratamiento garantizado que produce la reafirmacion del busto de manera
                    segura, no implica los riesgos o efectos colaterales de los procedimientos quirúrgicos.
                    Kdrops Breast, es un producto natural que no posee efectos secundarios, no causa dependencia, es
                    seguro de usar, Realza, Voluminiza y mejora la apariencia del busto.
                    Kdrops Breast no es un producto abrasivo, no genera la produccion de estrogeno, y no interactua con
                    ninguna hormona femenina.
                </p>
                <a class="boton" href="/breat/">Leer màs</a>
            </div>
            <div class="col-md-6 proseccion my-4">
                <img src="/img/FrascosGlu.jpg" alt="biotin">
            </div>
            <div class="col-md-6">
                <p>Actúa como un beta receptor externo de proteínas para músculos densos, el musculo Gluteal es el mas
                    denso del cuerpo por lo tanto este actúa en el de manera eficaz absorbiendo la proteína, incrementa
                    rápidamente el tamaño de tus glúteos y piernas.

                    <br><br>
                    Es una alternativa segura a la cirugía e inyección de peligrosos polímeros o esteroides y no
                    contiene efectos secundarios que afecten su salud al ser un producto natural.
                </p>
                <a class="boton" href="/glutex/">Leer màs</a>
            </div>

            <div class="col-md-6 proseccion">
                <img src="/img/FrascosMus.jpg" alt="biotin">
            </div>
            <div class="col-md-6">
                <p class="mt-4">¡Aumenta la fuerza un 10,5% tras tomarlo! ¡Aumenta la resistencia a la fatiga en un 28%!
                    Aumenta masa
                    muscular de calidad en un 59%.

                    <br><br>
                    Envase diseñado para 1 mes de entrenamiento ¡Una Nueva Era en la mejora del rendimiento y Ganancias
                    puras ha llegado!.

                    <br><br>
                    No es parecido a la creatina, no es un estimulante, y no es en definitiva como ningún otro
                    suplemento genérico preentrenamiento.

                    <br><br>
                    Kdrops Muscular es un suplemento preentrenamiento bajo una novedosa formula patentada ¡¡Totalmente
                    distinto a todo lo que hayas visto y probado antes!!.
                    .
                </p>
                <a class="boton" href="/musclet/">Leer màs</a>
            </div>
            <div class="col-md-6 proseccion my-4">
                <img src="/img/FrascosSil.jpg" alt="biotin">
            </div>
            <div class="col-md-6">
                <p>Kdrops Silver Quemador de grasa ideado para personas con una actividad física extrema, posee las
                    mismas características que el kdrops classic, pero este se le agrega el mágico componente quemador
                    de grasa, Clembuterol, que aumenta la disposición de los ingredientes, multiplicando su efectividad
                    en un 300%, ¿Practicas algún deporte pero no puedes bajar mas de peso? ¿Te sientes Estancad@?, este
                    es el producto que necesitas, avalado en Europa como el quemador Natural numero 1, Kdrops Silver,
                    Aumenta tu temperatura basal convirtiéndote en un horno quemador de grasa ambulante dentro y fuera
                    del gimnasio, necesitas probarlo para que sepas de lo que te estamos hablando, nada se compara a
                    esto, quieres cambiar tu cuerpo por un físico de ensueño? ¡Ya es el momento!.
                </p>
                <a class="boton" href="/silver/">Leer màs</a>

            </div>

        </div>
    </div>
</section>