<section>
    <div class="row ">
        <section id="sec1" class="mexico">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1 ">
                    <h1 class="my-5 titulo display-4">Mexico</h1>
                    <p class="my-3 parrafo  ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento (3 Kdrops) 3000 pesos.</i>
                        <i class="far fa-hand-point-right h3 parrafo mt-3"> 2 tratamientos (6 Kdrops) por 5000 mil
                            pesos.</i>
                    </p>
                    <div class="row d-flex justify-content-center mt-5">
                        <a href="#sec2" class="ico-promo text-center ml-1"><img class="img-fluid"
                                src="/img/colombia.svg" alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-1"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-1"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-1"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo text-center ml-1"><img src="/img/chile.svg" alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-1"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>
                        <a href="#sec8" class="ico-promo text-center ml-1"><img src="/img/panama.svg"
                                alt="panama">PAN</a>
                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>

                </div>
            </div>

        </section>


        <section id="sec2" class="colombia">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4 ">Colombia</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> tratamiento de (1 Kdrops) por 50 mil pesos.</i>
                        <i class="far fa-hand-point-right h3 parrafo mt-3"> tratamientos de (3 Kdrops)por 120 mil
                            pesos.</i>
                    </p>
                    <div class=" row d-flex justify-content-center mt-5 ">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo text-center  ml-3"><img src="/img/chile.svg"
                                alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>

                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
        </section>

        <section id="sec3" class="usa">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">Estados Unidos</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento (3 Kdrops) en 120 dólares</i>

                    </p>
                    <div class="row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo text-center  ml-3"><img src="/img/chile.svg"
                                alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>

                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec4" class="peru">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">Peru</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento ( 3 Kdrops) está en 175 soles</i>
                        <i class="far fa-hand-point-right h3 parrafo mt-3"> 2 tratamientos (6 Kdrops ) por 300
                            Soles.</i>
                    </p>

                    <div class=" row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo text-center  ml-3"><img src="/img/chile.svg"
                                alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>

                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec5" class="españa">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">España</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento (3 Kdrops) por 120€.</i>

                    </p>


                    <div class=" row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec6" class="ico-promo text-center  ml-3"><img src="/img/chile.svg"
                                alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>

                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec6" class="chile">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">Chile</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento (3 Kdrops) por tan solo 75 mil
                            pesos chilenos.</i>
                        <i class="far fa-hand-point-right h3 parrafo mt-3"> 2 tratamientos completos (6 Kdrops) por tan
                            solo 130 mil pesos chilenos.</i>
                    </p>


                    <div class=" row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>


                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec7" class="ecuador">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">Ecuador</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> 1 tratamiento (3 Kdrops) por tan solo 80$.</i>
                        <i class="far fa-hand-point-right h3 parrafo mt-3"> 2 tratamientos (6 Kdrops) por tan solo
                            130$.</i>
                    </p>


                    <div class=" row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo  ml-3 text-center"><img src="/img/chile.svg"
                                alt="chile">CHI</a>



                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec8" class="panama">
            <div class="d-flex justify-content-between">
                <div class=" col col-md-6 lt1">
                    <h1 class="my-5 titulo display-4  ">Panama</h1>
                    <p class="my-3 parrafo h3 ">
                        <i class="far fa-hand-point-right h3 parrafo"> tratamiento de (3 Kdrops) por tan solo 80$.</i>

                    </p>


                    <div class=" row d-flex justify-content-center mt-5">
                        <a href="#sec1" class="ico-promo text-center ml-3"><img src="/img/mexico.svg"
                                alt="mexico">MEX</a>
                        <a href="#sec2" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="colombia">COL</a>
                        <a href="#sec3" class="ico-promo text-center  ml-3"><img src="/img/estados-unidos.svg"
                                alt="estados unidos">USA</a>
                        <a href="#sec4" class="ico-promo text-center ml-3"><img src="/img/peru.svg" alt="peru">PER</a>
                        <a href="#sec5" class="ico-promo text-center  ml-3"><img src="/img/espana.svg"
                                alt="españa">ESP</a>
                        <a href="#sec6" class="ico-promo  ml-3 text-center"><img src="/img/chile.svg"
                                alt="chile">CHI</a>
                        <a href="#sec7" class="ico-promo text-center ml-3"><img src="/img/colombia.svg"
                                alt="ecuador">ECU</a>


                    </div>
                    <div class="nota h5 mt-5">
                        <i class="far fa-comments nota"> <strong>NOTA:</strong> consultar si el servicio contra entrega
                            esta disponible en su localidad.</i>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>

</section>
