<section class="sec sil">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Silver</h2>
            <p> Kdrops Silver Quemador de grasa ideado para personas con una actividad física extrema, posee las mismas
                características que el kdrops classic, pero este se le agrega el mágico componente quemador de grasa,
                Clembuterol, que aumenta la disposición de los ingredientes, multiplicando su efectividad en un 300%,
                ¿Practicas algún deporte pero no puedes bajar mas de peso? ¿Te sientes Estancad@?, este es el producto
                que necesitas, avalado en Europa como el quemador Natural numero 1, Kdrops Silver, Aumenta tu
                temperatura basal convirtiéndote en un horno quemador de grasa ambulante dentro y fuera del gimnasio,
                necesitas probarlo para que sepas de lo que te estamos hablando, nada se compara a esto, quieres cambiar
                tu cuerpo por un físico de ensueño? ¡Ya es el momento!
            </p>
            <h3 class="text-white mb-2 ">Componentes</h3>
            <p>Te Rojo Purh 300mg, Alcachofa 200mg, Centella Asiática 400mg,
                Mulberry
                Leaf 350mg, Flor de Jamaica 250mg, Ginkgo Biloba 125mg, Semilla de cassia 350mg, Semilla de job’s tears
                50mg, Bitter orange. 45mg, Clorhidrato de Clembuterol. 80mg.</p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            8 gotas del producto medio litro de agua, tomar por la mañana después del desayuno y 8 gotas del producto en
            medio litro de agua por la tarde después de la cena. <br>

            <strong> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo
                de 2 horas para tomar el litro de agua.</strong> <br>

            Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).

            Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/prosilver.png" alt="kdrops silver" class="silver">
        </div>
    </div>
    <ul class="thumb">
        <li><img src="/img/probiotin.png" onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
            <a href="/biotin/"><br>Biotin</a>
        </li>
        <li><img src="/img/probreat.png" onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')"
                alt="Breat"><a href="/breat/"><br>Breat</a></li>
        <li><img src="/img/proclasi.png" alt=""><a href="/clasic/"><br>Classic</a></li>
        <li><img src="/img/proglutex.png" alt=""><a href="/glutex/"><br>Glutex</a></li>
        <li><img src="/img/promusclet.png" alt=""><a class="text-white href=" /musclet/"><br>Musclet</a></li>

    </ul>

</section>