<section class="sec sil">
    <div class="circulo"></div>
    <div class="content">
        <div class="textBox">
            <h2>Kdrops Silver</h2>
            <p>Potente quemador de grasa ideado para personas con actividad fisica diaria, posee las mismas características que el kdrops classic, pero este se le agrega el mágico componente quemador de grasa, clembuterol, que aumenta la disposición de los ingredientes, multiplicando su efectividad en un 300%. ¿practicas algún deporte, pero no puedes bajar más de peso? ¿te sientes estancad@? este es el producto que necesitas, avalado en europa como el quemador natural número 1, kdrops silver, aumenta tu temperatura basal convirtiéndote en un horno quemador de grasa ambulante dentro y fuera del gimnasio, necesitas probarlo para que sepas de lo que te estamos hablando, nada se compara a esto. ¿quieres cambiar tu cuerpo por un físico de ensueño? ¡ya es el momento!
                tratamiento completo 3 unidades kdrops $120.000 pesos envío incluido.
                envíos contra entrega a casi todo el país, consultar vía whatsapp, pagas al recibir tu pedido.
                aceptamos también estos medios de pago: depósitos, transferencia en linea.
            </p>
            <h3 class="text-white mb-2 ">Beneficios</h3>
            <p>
                Aumenta la temperatura basal convirtiendo a su cuerpo en un horno quemador de grasa ambulante dentro y fuera del gimnasio ¿que esperas para probarlo? llego el momento. <br>
                <strong>Ingredientes: </strong><br>
                Té rojo pu erh 300mg.
                alcachofa 400mg.
                centella asiatica 350mg.
                mulberry leaf 100mg.
                flor de jamaica 125mg.
                ginko biloba 5mg.
                semilla de cassia 50mg.
                semilla de job’s tears 50mg.
                bitter orange 80mg.
                clorhidrato de clembuterol.
                </p>

            <p>
            <p>
            <h3>Modo de Uso</h3>
            Indicaciones como debes tomar kdrops silver:
aplicar 6 gotas del producto en medio litro de agua, tomar por la mañana media hora antes del desayuno y antes de transcurrir 2 horas tomar medio litro más de agua. luego en hora de la tarde, aplicar 6 gotas del producto en medio litro de agua y tomar media hora antes de cenar, posteriormente, antes de transcurrir 2 horas, tomar medio litro más de agua. <br>

            <strong> Nota:</strong>es 1 litro de agua que debe tomar por servicio ni más ni menos. tiene un periodo máximo de 2 horas para tomar el litro de agua.
            duración del tratamiento: 3 meses, cada frasco tiene una duración de 28 días aproximadamente. <br>
            <strong>Resultados:</strong>se sienten desde la primera toma y se ven a partir de la 2da semana. <br>
            <strong>Nota:</strong>recuerda en total serían 12 gotas en 2 litros de agua que debe tomar, si toma más agua el resto del día podría hacerlo no tendría problemas.
            solo podrías combinar 2 tratamientos al mismo tiempo, en el mismo litro de agua aplicarías las 6 gotas de cada presentación no tendrías ninguna contradicción, ya que, cada producto cumple su función.
            </p>
        </div>
        <div class="imgBox">
            <img src="/img/prosilver.png" alt="kdrops silver" class="silver">
        </div>
    </div>
    <ul class="thumb">
        <li><a href="/biotin/"><img src="/img/probiotin.png"
                    onclick="imgSlider('/img/probiotin.png');changeBgColor('#9a2769')" alt="">
                <br>Biotin</a>
        </li>
        <li><a href="/breat/"><img src="/img/probreat.png"
                    onclick="imgSlider('/img/probreat.png');changeBgColor('#3e2c63')" alt="Breat"><br>Breast</a></li>
        <li><a href="/clasic/"><img src="/img/kepclasic.png" alt=""><br>Classic</a></li>
        <li><a href="/glutex/"><img src="/img/proglutex.png" alt=""><br>Glutex</a></li>
        <li><a class="text-dark" href=" /musclet/"><img src="/img/promusclet.png" alt=""><br>Muscle</a></li>

    </ul>

</section>