<section class="descripcion biotin">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4 mt-5">
                <img src="/imagen/FrascosSil.jpg" class="img-fluid rounded" class="imgproducto" alt="">
                
            </div>
            <div class="col-12 col-md-8 ">
                <h1 class="display-3 text-center text-white my-3">KDROPS SILVER</h1>
                <hr>
                <p class="text-white text-justify">Kdrops Silver Quemador de grasa ideado para personas con una actividad física extrema, posee las mismas características que el kdrops classic, pero este se le agrega el mágico componente quemador de grasa, Clembuterol, que aumenta la disposición de los ingredientes, multiplicando su efectividad en un 300%, ¿Practicas algún deporte pero no puedes bajar mas de peso? ¿Te sientes Estancad@?, este es el producto que necesitas, avalado en Europa como el quemador Natural numero 1, Kdrops Silver, Aumenta tu temperatura basal convirtiéndote en un horno quemador de grasa ambulante dentro y fuera del gimnasio, necesitas probarlo para que sepas de lo que te estamos hablando, nada se compara a esto, quieres cambiar tu cuerpo por un físico de ensueño? ¡Ya es el momento!
                    
                </p>   
            </div>
            <div class="col">
                <h3 class=" text-white my-3">Componentes de kdrops Silver</h3>
                <ul class="text-white">
                    <li>
                        Te Rojo Purh	300mg</li>
                    <li>Alcachofa	200mg</li>
                    <li>Centella Asiática	400mg</li>
                    <li>Mulberry Leaf	350mg</li>
                    <li>Flor de Jamaica	250mg</li>
                    <li>Ginkgo Biloba	125mg</li>
                    <li>Semilla de cassia	350mg</li>
                    <li>Semilla de job’s tears	50mg</li>
                    <li>Bitter orange.	45mg</li>
                    <li>Clorhidrato de Clembuterol.	80mg</li>
                </ul>
                <h3 class="text center text-white my-3 d-lg-inline-block">Modos de Uso de kdrops Silver</h3>
                <p class="text-white">8 gotas del producto medio litro de agua, tomar por la mañana media hora antes del desayuno y media hora antes de la cena.
             
                </p>
                <p class="text-white lead"> Nota: Es medio litro de agua que debe tomar por servicio ni mas ni menos, Tiene un periodo máximo de 2 horas para tomar el litro de agua. </p>
                <p class="text-white">Duración del tratamiento: 3 meses, cada frasco tiene duración para 30 días (90 servicios).</p>
                <p class="text-white">Resultados: Los resultados se ven a partir de la 2da semana de empezar su tratamiento. </p>
            </div>
        </div>
    </div>
</section>
