*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav{
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
    box-shadow: 2px 2px 5px #000;
    font-family: 'Alegreya Sans', sans-serif;
    
}

.navbar-nav  .link :hover{
    background-color: white;
    border-radius: 1em;
    color:#000 !important;
}

.navbar-nav  .link2 :hover{
    background-color: #1e3c72;
    border-radius: 1em;
    color:#ffffff !important;
}

.biotin{
    background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.productos{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}

.titulo{
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
}

.prod{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.buscar{
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}
section.informacion{
    position: relative;
    height: auto;
}

section.informacion::before{
background-image: url(../imagen/phone.jpg);
content: '';
}
.letra{
    height: auto;
    margin-top: 2rem;
    color: white;
}
.letra1{
    margin-top: 7rem;
}

.preguntas{
   background-image: url(../imagen/baner.png);
   width: 100%;
   height: 100%;
}

.card a {
    text-decoration: none;
    color: white;
}

footer {
    height: auto;
    background-color: black;
}

.face{
    color: blue;
    font-size: 2rem;
}
.estilos .face :hover{
    background: white;
    color: white;
}
.insta{
font-size: 2rem;
color: #F16529;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    /*background-color:#25d366;*/
    color: white;
    border-radius:50px;
    text-align:center;
    font-size:4rem;
    z-index:100;
  }
  
  .fa-whatsapp {
    margin-bottom: 2rem;

    
  }
  .whatsapp :hover{
    color: #ffffff;
    background-color: #25d366 ;
    border-radius: 60%;
  }
  .contactenos{
      text-decoration: none;
  }
  .contactenos :hover{
      color: blue;
      text-decoration: none;
      border-bottom: none;
  }
  .testimonios{
      width: 100%;
      height: 20% !important;
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .busqueda{
      margin-bottom: 9rem;
  }


  #particles-js{
      height: 100vh;
      width: 100vh;
      position: fixed;
      z-index: -1;
  }

  .mexico:nth-child(1){
    background-color: #32601b9d;
background-image: linear-gradient(90deg, #32601ba9 0%, #fdfdfdb0 46%, #f02038a9 100%), url(../imagen/mexico.jpg);
height: 46em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }
  .colombia:nth-child(2){
    background-color: #ffe2069c;
    background-image: linear-gradient(90deg, #ffe2069c 0%, #352bc19c 46%, #f50e2998 100%),url(../imagen/colombia.jpg);    
height: 46em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  .usa:nth-child(3){
    background-color: #ee0b1aa1;
    background-image: linear-gradient(90deg, #ee0b1a9a 1%, #ffffffa1 50%, #232a5e9a 87%), url(../imagen/usa.jpg);     
height: 46em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  .peru:nth-child(4){
    background-color: #ee0b1aa1;
    background-image: linear-gradient(90deg, #ee0b1a9a 1%, #ffffffa1 50%, #eb0e0e9a 87%), url(../imagen/peru.jpg);     
height: 46em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  .españa:nth-child(5){
    background-color: #ee0b1aa1;
    background-image: linear-gradient(90deg, #ee0b1a9a 1%, #faea04a1 50%, #eb0e0e9a 87%), url(../imagen/españa.jpg);     
height: 46em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  .chile:nth-child(6){
    background-color: #ee0b1aa1;
    background-image: linear-gradient(90deg, #ee0b1a9a 1%, #ffffffa1 50%, #eb0e0e9a 87%), url(../imagen/chile.jpg);     
height: 40em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  .ecuador:nth-child(7){
    background-color: #f5ee0b;
background-image: linear-gradient(180deg, #f5ed0bcc 0%, #0b1ff5c7 46%, #f71707b7 100%), url(../imagen/ecuador.jpg);
height: 40em;
width: 100%;
background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
  }

  
.lt1{
    margin-left: 7em;
    margin-top: 6em;;
}
 

  .ico-promo{
      height: 4em;
      width: 4em;
      text-decoration: none;
      color: #000;
      animation:heartBeat; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 5s;  don't forget to set a duration! 
      animation-iteration-count: infinite;
     

  }
  .ico-promo:hover{
    height: 4em;
    width: 4em;
    animation: bounce ;
    color: white;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;

}
 


  @media screen and (max-width:1000px){
      
      div .ico-promo{
          height: 2em;
          width: 2em;
          animation-duration: 5s;  don't forget to set a duration! 
          animation-iteration-count: infinite;
          
      }
      
      .lt1{
        margin-left: 2em;
        margin-top: 2em;;
      }
    
  }

.parrafo{
    font-family: 'Alegreya Sans', sans-serif;
    color: #000;
}

.bandera{
   
}

.nota{
    color: #000;
    font-family: 'Alegreya Sans', sans-serif;

}

@keyframes colores {
    from{color:white;}
    to{color:#000;}

}
.titulo2{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
.promo{
    /* background-image: linear-gradient(to right, #434343 0%, black 100%);
     color:white;*/
     background-color: #1a0af9ab;
     background-image: linear-gradient(0deg, #1a0af9bb 0%, #fbda07e5 100%);
     
 
   }
