<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Mensaje enviado!</strong> pronto nos pondremo en contacto con usted.
                </div>
            </div>
        </div>
    </div>
</section>