<section>
    <div class="row">
        <div class="conatianer">
            <div class="col">
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">su mensaje no ha sido enviado!</h4>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>